<div class="container">
    <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
        <label for="team-name">Team name: </label>
        <input id="team-name" type="text" formControlName="teamName">

        <div formArrayName="teammates">
            <div *ngFor="let teammate of teammates.controls; let i = index">
                <label for="teammate{{ i }}">Teammate email:</label>
                <input id="teammate-{{ i }}" type="text" [formControlName]="i">
            </div>
            <button type="button" (click)="addTeammate()">Add another teammate</button>
        </div>

        <button type="submit" [disabled]="!teamForm.valid">Submit</button>
    </form>
</div>