<div>
  <div class="photo-frame" id="photo-frame">
    <img [src]="photoUrl" alt="Preview">
  </div>
  <input id="add-file" type="file" (change)="onFileSelected($event)" accept="image/*">
</div>
<div>
  <h1 id="header">TO-DO APP</h1>
  <img id="icon" src="https://static-00.iconduck.com/assets.00/microsoft-todo-icon-1024x810-wbyx7rbk.png" alt="img">
  <div class="info">
    <h1>Your Profile</h1>
    <br>
<!--    -->
    <form (ngSubmit)="sentChanges()">
    <label for="name">First name <!--  {{user.name}}  --></label> <br>
    <input [disabled]="isDisabled" type="text" id="name" name="name" placeholder="Name" [(ngModel)]="name"><br>
    <label for="name">Last name <!--  {{user.lastname}}  --></label> <br>
    <input [disabled]="isDisabled" type="text" id="surname" name="surname" placeholder="Surname" [(ngModel)]="surname"><br>
    <label for="team">Team <!--  {{user.team}}  --></label> <br>
    <input [disabled]="isDisabled" type="text" id="team" name="team" placeholder="Team" [(ngModel)]="team"><br>
    <label for="email">email <!--  {{user.email}}  --></label> <br>
    <input [disabled]="isDisabled" type="email" id="email" name="email" placeholder="email" [(ngModel)]="email"><br>
    <label for="password">Password <!--  {{user.password}}  --></label> <br>
    <input [disabled]="isDisabled" type="password" id="password" name="name" placeholder="Password" [(ngModel)]="password"><br>
<!--    <button class="change-info" (click)="toggleEdit()"><img alt="img" id="edit-button" src="https://static.vecteezy.com/system/resources/thumbnails/019/552/595/small/sign-up-icon-signup-square-box-on-transparent-background-free-png.png">EDIT</button> &nbsp;&nbsp;-->
    <br><br><button class="change-info" type="submit"><img alt="img" id="save-button" src="https://static-00.iconduck.com/assets.00/save-icon-512x512-552twxqx.png">SAVE CHANGES</button>
    </form>
    <button class="change-info" (click)="toggleEdit()"><img alt="img" id="edit-button" src="https://static.vecteezy.com/system/resources/thumbnails/019/552/595/small/sign-up-icon-signup-square-box-on-transparent-background-free-png.png">EDIT</button> &nbsp;&nbsp;


  </div>
</div>
