<div class="persontal_tasks_body">
  <div class="create_task">
    <input type="text" [(ngModel)]="newFolder" />
    <button (click)="onCreateFolder()">Create Folder</button>
  </div>
  <div class="folders_tasks">
    <div class="folders_list">
      <ul
        *ngFor="let folder of folders; let i = index"
        (click)="onSelectFolder(folder)"
        (mouseenter)="showDeleteButton(i)"
        (mouseleave)="hideDeleteButton(i)"
      >
        {{
          folder
        }}
        <button *ngIf="highlightedFolder === i" (click)="onDeleteFolder(i)">
          Remove
        </button>
      </ul>
    </div>
    <div class="tasks_list">
      <ul *ngFor="let task of tasks.get(selectedFolder)">
        {{
          task
        }}
      </ul>
    </div>
  </div>
</div>
